<header class="header">
  <div class="header__container">
    <a class="header__logo" href="/">
      <img class="header__logo-image" src="./logo.svg" alt="Logo CATECH" />
    </a>
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a class="header__nav-link" href="#beneficios">Beneficios</a>
        </li>

        <li class="header__nav-item">
          <a class="header__nav-link" href="#paquetes">Paquetes</a>
        </li>

        <li class="header__nav-item">
          <a class="header__nav-link" href="#proceso">Proceso</a>
        </li>

        <li class="header__nav-item">
          <a class="header__nav-link" href="#contacto">Contacto</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
