.problem {
  display: flex;
  margin-top: 210px;
}

.problem__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.problem__title {
  text-align: center;
  margin: 0;
}

.problem__subtitle {
  margin-top: 30;
  text-align: center;
  font-size: 1.2rem;
}

.problem__grid {
  display: flex;
  margin-top: 50px;
  gap: 30px;
}

.problem-card {
  display: flex;
  flex-direction: column;
  flex: 1 1 calc(25% - 30px);
  background: #ffffff;
  padding: 30px;
  border-radius: 14px;
  border: 1px solid #e6f4f2;
  transition: all 0.25s ease;
  position: relative;
}

.problem-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.06);
  border-color: #248675;
}

.problem-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #248675;
  border-radius: 14px 14px 0 0;
}

.problem__card-icon {
  justify-content: center;
  width: 5rem;
  height: 5rem;
}

.problem-card__title {
  color: #0b2a2a;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.problem-card__text {
  color: #334e4e;
  font-size: 1rem;
  line-height: 1.6;
}
