<header class="navbar">
  <div class="navbar__container container">
    <a class="logo" href="/">
      <img class="logo__image" src="logo.jpg" alt="Logo CATECH" />
    </a>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="#beneficios">Beneficios</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#paquetes">Paquetes</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#proceso">Proceso</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#testimonios">Testimonios</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#contacto">Contacto</a>
        </li>
      </ul>
    </nav>
    <a class="button button--primary header__cta" href="#contacto"
      >Solicitar asesoría</a
    >
  </div>
</header>
