.benefits {
  margin-top: 90px;
}

.benefits__container {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 60px;
}

.benefits__title {
  text-align: center;
  margin: 0;
}

.benefits__subtitle {
  text-align: center;
  margin: 0;
}

/* FLEX CONTAINER */

.benefits__grid {
  display: flex;
  gap: 30px;
}

/* CARD */

.benefits-card {
  flex: 1 1 calc(25% - 30px);

  background: #ffffff;
  padding: 30px;
  border-radius: 14px;
  border: 1px solid #e6f4f2;

  transition: all 0.25s ease;
  position: relative;
}

.benefits-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.06);
  border-color: #248675;
}

/* línea superior branding */

.benefits-card::before {
  content: "";
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 4px;

  background: #248675;

  border-radius: 14px 14px 0 0;
}

/* icon */

.benefits-card__icon {
  width: 5rem;
  height: 5rem;
}

/* content */

.benefits-card__title {
  color: #0b2a2a;
  margin-bottom: 10px;
  font-size: 1.15rem;
}

.benefits-card__text {
  color: #334e4e;
  line-height: 1.6;
}
