.process {
  max-width: 1200px;
  margin: 100px auto;
  padding: 0 20px;
}

.section-header__title {
  margin: 0;
  color: black;
}

.section-header__subtitle {
  margin: 0;
  margin-top: 20px;
  font-size: 1.4rem;
  color: #474747;
}

.process__steps {
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin-top: 50px;

  counter-reset: step;
  align-items: stretch;
}

.process__step {
  flex: 1 1 calc(25% - 30px);

  background: #ffffff;
  padding: 30px;

  border-radius: 14px;
  border: 1px solid #e6f4f2;

  transition: all 0.25s ease;
  position: relative;
}

.process__step:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.06);
}

.process__step::before {
  content: counter(step);
  counter-increment: step;

  position: absolute;
  top: -14px;
  left: 20px;

  background: #056a64;
  color: white;

  width: 36px;
  height: 36px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 0.9rem;
  font-weight: 600;
}

.process__step-title {
  color: #0b2a2a;
  margin-bottom: 10px;
  font-size: 1.1rem;
}

.process__step-desc {
  color: #334e4e;
  line-height: 1.6;
}
